services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: medical_user
      POSTGRES_PASSWORD: medical_pass
      POSTGRES_DB: medical_db
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U medical_user -d medical_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://medical_user:medical_pass@db:5432/medical_db
